mixin header (header = {})
    header.header 
        div.header__left
            a(href="/")
                img(src="#" alt="LOGO")
        div.header__right
            ul 
                li
                    a(href="/board/list") BOARD