extends ../../layouts/base.pug

block content 
    div.boardList.bl
        div.bl__titleArea
            h2 LOL BOARD 
            div
        div.bl__columnArea.pc
            ul.bl__columnArea__list.pc 
                li 번호pc
                li 제목pc
                li 작성자pc
                li 작성일pc
                li 조회수pc
        div.bl__columnArea.mobile
            ul.bl__columnArea__list.mobile 
                li 제목
                li 작성자
                li 작성일                 
