extends ../../layouts/base.pug

block content
    //- AREA-1
    section.area1
        div.area1__left 이미지가 들어갈거지롱
        div.area1__right 글씨가 들어갈거지롱

    //- AREA-2    
    section.area2 이쁜글씨가 들어갈거지롱

    //- AREA-3
    section.area3
        div.area3__left 글씨가 들어갈거지롱
        div.area3__right 이미지가 들어갈거지롱 